@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Bangers:100,200,300,400,500,600,700');

/* -------------------------------------Colors*/

body {
    background-color: #f4f4f4;
    background-size: auto ;
    min-height: 360px;
    background-repeat: repeat;
}

.bg-color-name-title {
   font-family: "Bangers", sans-serif;
   color: #ffffff;
}

.bg-color-three-reasons {
   background-color: #ffffff;
}

.welcome .section-column {
    background-color: #ffffff00;
    border-radius: 10px;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.bg-color-work-history {
    background-color: #373737;
}
.bg-color-contact {
    background-color: #ffffff;
     text-align: center; 
     width:auto; 
     border-radius:10px;
    
}



.ui-menu-color-home {
    background-color: #dcd0c0;
    border: 3px solid #fff;
    border-radius: 10px;

}

.ui-menu-color-gallery {
    background-color: #c0b283;
    border: 3px solid #fff;
    border-radius: 10px;
}


.ui-menu-color-contact {
    background-color: #757272;;
    border: 3px solid #fff;
    border-radius: 10px;

}

.ui-menu-color-listen {
    background-color: #f4f4f4;
    border: 3px solid #fff;
    border-radius: 10px;

}

.list-inline.clearfix span {
    color: #333;
    font-weight: 600;
    font-size: 16px;
}

.list-inline.clearfix i {
    color: #333;
    font-size: 35px;
}

/*-----------------------Special Paddings/Margins/Text*/

h1,h2,h3,h4 {
    margin:0;
    font-family: "Bangers";
    color: #c0b283;
}

.h1 {
    font-size: 60px;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 20px;
}



.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}
.history-heading,
.section-heading {
    font-family: "Bangers", sans-serif;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
}



/*-----------------------Heading*/

header {
    margin: 0;
    margin-bottom: 10px;
    background-color: #373737;
}

.heading {
    margin-left: 50px;
}


.logo {
    background: url("../images/monkees.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    border: 3px solid #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}

.logo2 {
    margin-bottom: -18px;
    border: 3px solid #fff;
    border-radius: 10px;
    
}

.name {
    font-family: "Bangers", sans-serif;
    font-weight: 100;
    font-size: 58px;
    margin-top: 50px;
    color: #c0b283;
}

.title {
    font-family: "Bangers", sans-serif;
    font-weight: 200;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #c0b283;
}

.index-video {
    margin-bottom: 40px;
}

.video .title {
    font-weight: 200;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #333;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
}

/*-------------------Hover.css-------------------*/

#nav .hvr-sweep-to-bottom:before {
    background: rgba(255, 255, 255, 0.3);
    height: 120px;
}

/*-----------------------Footer -------------------*/

footer {
    color: #333;
    min-height: 120px;
    margin: 0;
    font-family: "Exo", sans-serif;
    background-color: #373737;
}

.social-links {
    padding-bottom: 15px;
    position: relative;
}



.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 28px;
    line-height: 6px;
    text-align: center;
    color: #fafafa;
    background: #333;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background: #9a6ba9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}

#footer-details {
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #333;
    background-color: #ffffff8c;
    border-radius: 10px;
}

.col-sm-4 p {
    font-weight: 500;
    font-size: 16px;
    color: #333;
    border-radius: 10px;
}
/*-----------------------Three reasons -------------------*/

.three-reasons-icon {
        font-size: 35px;
        color: #373737;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/*-----------------------Personal Info -------------------*/

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    text-align: center;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
}

/*-----------------------Contact styling -------------------*/

.contact-heading {
    font-family: "Exo", sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #c0b282;
    color: #fafafa;
}

.standard-hr {
    border: solid 3px white; 
    border-radius: 10px;
}
.welcome-hr {
    border: 3px solid #373737;
    border-radius:10px; 
    width: 15%;
}
/*-----------------------Media Queries -------------------*/

@media(min-width: 992px) {
    .section-column {
    padding:0 30px 30px;
    float: none;
    display: table-cell;
    }
    
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
    
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
}
}

@media(max-width: 722px) {
    video {
        width: 320px;
        height: 240px;
    }
}

@media(max-width: 430px) {
    .logo {
        background: url(../images/band.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/*-------------------Video-----------*/

.video {
   text-align: center;
}

.video-title {
    text-align: center;
} 

/*-------------------Gallery-----------*/

.gallery {
    margin: 20px;
    border: 3px solid #f5f5f5;
    border-radius: 10px;
    float: left;
    width: 250px;
    position: relative;
    background-color: #ffffff9e;
}

.band-members .gallery {
    height: 400px;
}
    
.group-pictures .gallery {
    height: auto;
    border: none;
    background-color: transparent;
}
.group-pictures .gallery img {width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
}

.album-covers .gallery img {width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
}

.album-covers .gallery {
    height: auto;
    border: none;
    background-color: transparent;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

/*-------------------Listen-----------*/
.mp3 {
    margin: 20px;
    border: 3px solid #f5f5f5;
    border-radius: 10px;
    float: left;
    width: auto;
    Height: auto;
    position: relative;
    background-color: #ffffff9e;
}
